#!/bin/bash

if [ -d "/nginx_templates" ]; then
    # Run conf files through envsubst to template environment variables into
    # the files. `man envsubst` for help using envsubst.
    vars=()
    for evar in $(env)
    do
       IFS='=' read -a name <<< "$evar"
       if grep -q ${ENVSUBST_MATCH} <<<${name[0]}; then
           vars+=("\$${name[0]}")
       fi
    done
    substitute="${vars[@]}"
    echo "Substitute ${substitute} in nginx configuration"
    for file in /nginx_templates/*
    do
        echo "Copying ${file} to /etc/nginx"
        f=$(basename ${file})
        envsubst "${substitute}" < ${file} > /etc/nginx/${f}
    done
fi

exec "$@"
